# Base de datos
DATABASE_URL=postgresql+asyncpg://postgres:password123@localhost:5432/sipp_db
POSTGRES_SCHEMA=sipp

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=true

# Frontend
BACKEND_URL=http://localhost:8000

# Archivos
CSV_UPLOAD_DIR=./data/uploads
